* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

button:disabled {
  opacity: 0.4 ;
  cursor: no-drop;
}

.btn {
  display: inline-block;
  padding: 0 25px;
  line-height: 40px;
  border: 1px solid black;
  transition: 0.2s ease all;
}

.btn-sm {
  line-height: 35px;
}

.btn-lg {
  line-height: 45px;
}

.btn-primary {
  background-color: #1367ef;
  color: #fff;
  border-color: #1367ef;
}

.btn-primary:hover {
  background-color: #fff;
  color: #1367ef;
}

textarea {
  overflow: auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  outline: none;
  border: 1px solid #dee0ea;
  padding: 8px 8px 8px 15px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: gray;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}



