* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "inter", "Sans-serif";
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

button:disabled {
  opacity: 0.4 ;
  cursor: no-drop;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 0 25px;
  line-height: 40px;
  border: 1px solid black;
  transition: 0.2s ease all;
}

.btn-sm {
  line-height: 35px;
}

.btn-lg {
  line-height: 45px;
}

.btn-primary {
  background-color: #1367ef;
  color: #fff;
  border-color: #1367ef;
}

.btn-primary:hover {
  background-color: #fff;
  color: #1367ef;
}

.active {
  color: #101010 !important;
}

textarea {
  overflow: auto;
}

input:focus {
  outline: none;
}

/*? header */

.header-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  max-width: 200px;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgba(177,177,177,1);
  z-index: 10;
  background-color: #fff;
}

.header-logo {
  font-size: 32px;
  font-family: "lalezar";
  padding: 0 10px;
}

.navbar{
  margin-top: 25px;
}

.navbar .menu-item {
  margin-bottom: 35px;
}
.navbar .menu-link {
  color: #b1b1b1;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.navbar .menu-link-icon {
  font-size: 20px;
}

header .off {
  position: absolute;
  top: 0;
  left: 188px;
  padding: 3px;
  border: 1px solid #ededed;
  color: #b1b1b1;
  border-left: unset;
  z-index: 9;
}


/*? Account */
.header-top {
  height: 90px;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  display: flex;
  align-items: center;
  
}
.account {
  display: flex;
  justify-content: end;
  align-items: center;
}

.account-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.account button {
  background-color: unset;
  background-size: cover;
}

.account button img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.account form {
  position: relative;
  border-radius: 30px;
}

.account input {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 30px;
  padding: 10px 30px;
  border: none;
  background-color: #F5F7FA;
}

.account input::placeholder {
  color: #718ebf;

}

.account form button{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  cursor: pointer;
  font-size: 12px;
  margin: 0 10px;
  color: #718ebf;

}

.account .account-icon {
  background-color: #F5F7FA;
  border-radius: 50%;
  padding: 10px 12px;
}

.account .bi-gear-fill {
  color: #718ebf;
}

.account .bi-bell {
  color: #fe5c73;
}

